{% extends "base.html" %}
{% load comments %}
{% block content %}
{% if is_paginated %}
<ol start="{{ page_obj.start_index }}">
{% else %}
<ol>
{% endif %}
***NEWS_TRENDING.HTML***
{% for link in object_list %}
<form method="post" action="{% url 'vote' %}" class="vote_form">
  <li>[ {{ link.votes }} ]
    {% csrf_token %}
    <input type="hidden" id="id_link" name="link" class="hidden_id" value="{{ link.pk }}" />
    <input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}" />
    {% if not user.is_authenticated %}
    <button disabled title="Please login to vote">+</button>
    {% elif link.pk not in voted %}
    <button>+</button>
    {% else %}
    <button>-</button>
    {% endif %}
    <a href="{% url 'link_detail' pk=link.pk %}">
		<img src="{{ link.thumb_url }}" alt="{{ link.title }}" height=65 width=65/>
      <b>{{ link.title }}</b>
      {% get_comment_count for link as comment_count %}
      {{ comment_count }} comment{{ comment_count|pluralize }}
    </a>
		<a href="/users/{{ link.submitter }}">
			<b> {{ link.submitter }} </b>
		</a>
  </li>
</form>
{% endfor %}
</ol>
{% if is_paginated %}
<div class="pagination">
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">More &raquo;</a>
    {% endif %}
</div>
{% endif %}
<blockquote style="background-color: #ddd; padding: 4px; border-radius: 10px; margin: 10px 0; color: #666; font-size: smaller; text-shadow: rgba(255,255,255,0.8) 1px 1px 0;">
{{ randomquip.comment|truncatechars:140 }}
</blockquote>
{% endblock %}
