{% extends "base.html" %}
{% load comments %}

{% block content %}
<style>
  #id_honeypot {
    display: none;
  }
</style>

<h2><a href="{{ object.url }}">{{ object.title }}</a></h2>
{% if object.submitter == user %}
  <a href="{% url 'link_update' pk=object.pk %}">Edit</a> |
  <a href="{% url 'link_delete' pk=object.pk %}">Delete</a>
{% endif %}

<div class="desc">
  {{ object.description }}
</div>

<div class="thumbnail">
  <img src="{{ object.thumb_url }}" alt="{{ link.title }}" height=315 width=600/>
</div>
{{ form.errors }}
{{ form.non_field_errors }}

<div class="comments">
  <h3>Comments</h3>
  <div class="comment_form">
  {% if user.is_authenticated %}
    {% render_comment_form for object %}
  {% else %}
  <p>Please <a href="{% url 'login' %}">log in
  </a> to leave a comment.</p>
  {% endif %}
  </div>
  {% get_comment_count for object as comment_count %}
  {% if comment_count %}
  <H4 class="center">{{ comment_count }} comment{{ comment_count|pluralize }}</H4>
  {% endif %}
  <div id="comment-list">
	  {% render_comment_list for object %}
  </div>

</div>


{% endblock %}
