{% extends "base_less.html" %}
{% load comments %}
{% block content %}
{% if is_paginated %}
<ol start="{{ page_obj.start_index }}">
{% else %}
<ol>
{% endif %}
{% for link in object_list %}
	<a href="/topic/{{ link.short_name }}">  |  
	<b>{{ link.title }}</b>
	</a>
{% endfor %}
</ol>
{% if is_paginated %}
<div class="pagination">
	{% if page_obj.has_next %}
	<a href="?page={{ page_obj.next_page_number }}">More &raquo;</a>
	{% endif %}
</div>
{% endif %}
{% endblock %}
