{% extends "base.html" %}

{% block content %}
<h2>New User?</h2>
{% if form.errors %}
<p>Invalid data. Please try again.</p>
{% endif %}
<form method="post" action="">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Register" />
  <div class="g-recaptcha" data-sitekey="6LeiRhQTAAAAAPPsaGe4OiFcec24RMSFux_wBFxQ"></div>
</form>
{% endblock %}
