{% extends "comments/base.html" %}
{% load i18n %}

{% block title %}{% trans "Comment confirmation requested" %}.{% endblock %}

{% block content %}
  <h1>{% trans "Comment confirmation requested" %}</h1>
    <p>{% trans "A confirmation message has been sent to your email address. Please, click on the link in the message to confirm your comment." %}</p>
    {% endblock %}
