<html>
<head>
	<!-- Latest compiled and minified CSS -->
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/static/css/main.css">

  <title>freedlist</title>
  <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="/static/js/vote.js"></script>
	<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.7/css/bootstrap-material-design.min.css">

</head>
<header>

  <p>
    <a href="{% url 'home' %}">Home</a> |
    {% if request.user.is_authenticated %}
    <a href="{% url 'link_create' %}">Submit Link</a> |
    <a href="{% url 'logout' %}">Logout</a> |
    <a href="{% url 'profile' slug=user.username %}"><b>{{ user.username }}</b></a>
{% else %}
    <a href="{% url 'registration_register' %}">Register</a>
    <a href="{% url 'login' %}">Login</a>
{% endif %}
  </p>
</header>
<body>
  <script async defer src="https://freedlist-slackin.herokuapp.com/slackin.js?large"></script>
<div id="chippy">
<img src="/static/img/chippy.png" alt="chippy" type="image/png" width=200 height=200/>
</div>
	<h1><a href="/">freedlist</a></h1>

{% block content %}
{% endblock %}
<footer>
    <div class="alignleft">
    <script type='text/javascript'>
     amzn_assoc_ad_type = 'banner';
     amzn_assoc_tracking_id = 'freedlistcom-20';
     amzn_assoc_marketplace = 'amazon';
     amzn_assoc_region = 'US';
     amzn_assoc_placement = 'assoc_banner_placement_default';
     amzn_assoc_linkid = '6HKOE7HUDV3ZSIMN';
     amzn_assoc_campaigns = 'primeent';
     amzn_assoc_banner_type = 'category';
     amzn_assoc_isresponsive = 'true';
    </script>
    <script src='//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1'></script>
    </div>
  <p>
    <a href="{% url 'home' %}">Home</a> |
{% if request.user.is_authenticated %}
    <a href="{% url 'link_create' %}">Submit Link</a> |
    <a href="{% url 'logout' %}">Logout</a> |
    <a href="{% url 'profile' slug=user.username %}"><b>{{ user.username }}</b></a>
{% else %}
    <a href="{% url 'registration_register' %}">Register</a>
    <a href="{% url 'login' %}">Login</a>
{% endif %}
  </p>
</footer>
</body>
</html>
