{% extends "base.html" %}

{% block content %}
<h2>{{ user.username }}'s Profile</h2>
{% if request.user.is_authenticated %}
<form method="post" action="">
  {% csrf_token %}
  {{ form.as_p }}

  <input type="submit" value="Save">
</form>
<a href="/accounts/password/change">change password</a>
{% endif %}

{% endblock %}
