<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Freedlist Website">
    <meta name="author" content="Dex">
    <title>FreedList</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/css2.css">
    <link rel="stylesheet" href="/static/css.css">
    <link rel='shortcut icon' type='image/x-icon' href='img/fav.ico' />
    <!-- IE Compatibility shims -->
    <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js""></script>
  <![endif]-->
    <!--[if IE]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.1.7/es5-shim.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/flexie/1.0.3/flexie.min.js"></script>
  <![endif]-->
    <!-- end shims -->
</head>

<body class="text-fields">
    <div class="mdl-color--grey ml-header relative clear" style="background-image:url('/static/16.jpg');">
        <div class="p-20">
            <div class="f-right m-30">
                {% if object.username == user.username %} {% if request.user.is_authenticated %}
                <button class="mdl-button mdl-js-button  mdl-color-text--white mdl-js-ripple-effect f12"><a href="{% url "edit_profile" %}" class="mdl-color-text--white">
                    <i class="material-icons ml-button-icon">description</i> Edit Account
               </a> </button>

                {% endif %}{% endif %}

            </div>
            <h3 class="mdl-color-text--white m-t-20 m-b-5">{{ object.username }} Profile</h3>
            <h4 class="mdl-color-text--grey-100 m-b-20 no-m-t w100">Tagline people add themselves!</h4>
        </div>
    </div>
    <div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100"></div>
        <div class="mdl-cell mdl-cell--2-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
            <div class="p-20 ml-card-holder ml-card-holder-first">
                <div class="mdl-card-profile mdl-shadow--1dp">
                    <img src="/static/pr.png" alt="" />
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
            <div class="p-20 ml-card-holder ml-card-holder-first">
                <div class="mdl-card mdl-shadow--1dp">
                    <div class="mdl-color--cyan-300">
                        <div class="p-15 f-left">
                            <img src="/static/pr.png" class="img-responsive img-round-profile" />
                        </div>
                        <div class="p-15">
                            <h4 class="no-margin mdl-color-text--white f20 p-t-10">{{ object.username }} Profile</h4>
                            <div class="f11">This is {{ object.username }} profile where you will see a bio about them</div>
                        </div>
                    </div>
                    <ul class="ml-list-actions ">
                        <li>
                            <i class="material-icons">settings</i>
                            <a href="">Disabled</a>
                        </li>
                        <li class="active">
                            <i class="material-icons mdl-color-text--pink">favorite</i>
                            <a href="">About</a>
                        </li>
                        <li>
                            <i class="material-icons mdl-color-text--light-blue">place</i>
                            <a href="">Disabled</a>
                        </li>
                    </ul>
                    <div class="mdl-card__menu">
                        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                            <i class="material-icons mdl-color-text--white">more_vert</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
            <div class="p-40 p-r-20 p-20--small">
                <div class=" mdl-color-text--blue-grey-400">
                    <h3><i class="material-icons f-left m-r-5">format_align_left</i> Help</h3>
                    <p>An overview of {{ object.username }} Profile page for more information on planned features or how you can help us grow follow the links below</p>
                    <div class="m-t-30">
                        <ul class="list-bordered">
                            <li>
                                <a target="_blank" href="http://help.com">
                                    <i class="material-icons m-r-5 f11">description</i> Help Out
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="features.com">
                                    <i class="material-icons m-r-5 f11">description</i> Planned Features
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
            <div class="p-20">
                <div class="mdl-card mdl-shadow--1dp">
                    <div class="mdl-card__text">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">About me</h2>
                        </div>
                        <div class="mdl-grid mdl-grid--no-spacing stats-2cols">
                            <div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                                <h2 class="mdl-card__title-text m-b-10 ">Description</h2>
                                <p2>
                                    {% if object.userprofile.bio %}
                                    <div>
                                        {{ object.userprofile.bio }}
                                    </div>
                                    {% endif %}
                                </p2>
                            </div>
                            <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                                <h2 class="mdl-card__title-text m-b-10">Contact</h2>
                                <ul class="ml-list-actions-text ml-list-profile">
                                    <li>
                                        <div class="pull-left ">
                                            <i class="material-icons ">timeline</i>
                                        </div>
                                        <a href="">{{ object.userprofile.twitter }}</a>
                                    </li>
                                    <li>
                                        <div class="pull-left ">
                                            <i class="material-icons">website</i>
                                        </div>
                                        <a href="">www.example.com</a>
                                    </li>
                                    <li>
                                        <div class="pull-left ">
                                            <i class="material-icons">email</i>
                                        </div>
                                        <a href="">{{ object.email }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js2.js"></script>
    <script src="/static/js.js"></script>
</body>
